<footer>
    <nav>
        <a href='https://github.com/nooose/' target='_blank'>Github</a>
    </nav>
    <p>
        <span>Reference : https://developers.kakao.com</span><br>
        <span>Source Code : https://github.com/nooose/kakao-api</span><br>
        <span>Copyright 2023. noose. All Rights Reserved.</span>
    </p>
</footer>
